<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados de Chuveiros - scrape</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Dados de Chuveiros - ProjetoFIS</h1>
    <button onclick="window.location.href='/scrape';">Capturar Dados de Chuveiros</button>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Vendedor</th>
                <th>Parcelas e Valor</th>
                <th>Avaliação</th>
                <th>Cupons de Desconto</th>
            </tr>
        </thead>
        <tbody>
            {% for dado in dados %}
            <tr>
                <td>{{ dado['Nome'] }}</td>
                <td>{{ dado['Valor'] }}</td>
                <td>{{ dado['Vendedor'] }}</td>
                <td>{{ dado['Parcelas e Valor'] }}</td>
                <td>{{ dado['Avaliação'] }}</td>
                <td>{{ dado['Cupons de Desconto'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
