<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Busca</title>
</head>
<body>
    <h1>Resultado de Busca</h1>
    
    <form action="/scrape" method="GET">
        <label for="termo_busca">Pesquisa de produtos</label>
        <input type="text" id="termo_busca" name="termo_busca" required>
        <button type="submit">Buscar</button>
    </form>

    <hr>

    <div>
        {% if dados %}
            <ul>
                {% for item in dados %}
                    <li>
                        <strong>Nome:</strong> {{ item['Nome'] }} <br>
                        <strong>Valor:</strong> {{ item['Valor'] }} <br>
                        <strong>Vendedor:</strong> {{ item['Vendedor'] }} <br>
                        <strong>Parcelas e Valor:</strong> {{ item['Parcelas e Valor'] }} <br>
                        <strong>Avaliação:</strong> {{ item['Avaliação'] }} <br>
                        <strong>Cupons de Desconto:</strong> {{ item['Cupons de Desconto'] }} <br>
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum resultado encontrado.</p>
        {% endif %}
    </div>
</body>
</html>
